img(style="max-width: 100%; width: 300px" src="https://ccsdesk.com/logo.png")

p(style="font-size: 16px") Click the link below to reset your password..
a(style="font-size: 16px" href="https://ccsdesk.com/reset-password#token="+token) Reset Password
