img(style="max-width: 100%; width: 300px" src="https://ccsdesk.com/logo.png")

p(style="font-size: 16px") Hello #{name}, you have been invited to create an account on CCS Desk.
a(style="font-size: 16px" href="https://ccsdesk.com/register#token="+token) Click here to join.

p(style="font-size: 16px") After logging in, you can declare yourself a point of contact for your techs by going to the "Techs" tab, searching for your tech's ID, and clicking "Claim Tech".

img(style="width: 600px; max-width: 100%;" src="https://ccsdesk.com/howoto.png")