img(style="max-width: 100%; width: 300px" src="https://ccsdesk.com/logo.png")

p Hello #{name}, you have been invited to create an account on CCS Desk.
a(href="https://ccsdesk.com/register#token="+token) Click here to join.
